<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Expense Tracker</h1>
    
    <form method="POST">
        <input 
        type="text"
        name="description"
        placeholder="Expense description"
        required
        >

        <input 
        type="number"
        name="amount"
        placeholder="Amount"
        step="0.01"
        required
        >

        <input
        type="date"
        name="expense_date"
        required
        >
        <select name="category" required>
            <option value=""> Select category</option>
            <option value="Food">Food</option>
            <option value="Travel">Travel</option>
            <option value="Rent">Rent</option>
            <option value="Shopping">Shopping</option>
            <option value="Other">Other</option>
        </select>

       

        <button type=""submit>Add Expense</button>
        

    </form>

    <form method="GET">
        <select name="filter_category">
            <option value="">All</option>
            <option value="Food">Food</option>
            <option value="Travel">Travel</option>
            <option value="Rent">Rent</option>
            <option value="Shopping">Shopping</option>
        </select>
        <button type=""submit>Filter</button>
    </form>
    <hr>

    <h2>Expenses</h2>
    {% if expenses %}
    <table border="1" cellpadding="8">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[1] }}</td>
            <td>$ {{ "%.2f"|format(expense[2]) }}</td>
            <td>{{ expense[3] }}</td>
            <td>{{ expense[4] }}</td>

            <td>
                <form method="POST" action="/delete/{{ expense[0] }}">
                    <button type="submit">Delete</button>
                </form>
               

            </td>
        </tr>
        {% endfor %}

    </table>
    <h3> This Month: $ {{ "%.2f"|format(month_total) }}</h3>
    {% else %}
    <p>No expense added yet.</p>
    {% endif %}

    
</body>
</html>